html
    head
        title= "Generador de recibos - obtén archivo"
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    body
        section(class="section is-medium")
            div(class="container is-widescreen")
                div(class="notification")
                    section(class="hero is-primary")
                        div(class="hero-body")
                            div(class="container")
                                h1(class="title")= "Generador de recibos - Inicio"
                                h2(class="subtitle")= "Creado por Pol Gómez"
                    
                    div(class= "box")
                        p= "Bienvenido al generador de recibos. Para empezar, selecciona tu fichero Excel y pulsa aceptar."
                        br
                        form(action="/fileupload" method="post")
                            input(type="file" name="filetoupload")
                            br
                            br
                            input(type="submit" value="Aceptar" class="button is-primary")